<div class="page-section question">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>@Model.Data.Question</h3>
            </div>
            <!--this is comment1-->
            <!--this is comment2-->
            <div class="col-sm-4">
                <p class="right-cta"><a href="@Model.Data.Url" class="btn">@Model.Data.CallToAction</a></p>
            </div>
        </div>
    </div>
</div>
